<h2>Summary</h2>
<div class="summary">
    <table class="blueTable">
      <caption>Low Stock</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <% @low_stock.each do |item| %>
          <tr>
            <td><%=item.name%></td>
            <td class="<%=item.quantity_lvl%>"><%=item.quantity%></td>
            <td><a href="/inventory/<%=item.id%>">view</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
<div class="summary">
    <table class="blueTable">
      <caption>Most Profitable</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Markup</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <% @most_profitable.each do |item| %>
          <tr>
            <td><%=item.name%></td>
            <td><%=item.markup%></td>
            <td><a href="/inventory/<%=item.id%>">view</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
