<h2>Inventory</h2>

<table class="blueTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Cost Price</th>
      <th>Sell Price</th>
      <th>Mark Up</th>
      <th>Quantity</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @inventory.each do |item| %>
    <tr>
      <td><%=item.name%></td>
      <td><%=item.manufacturer.name%></td>
      <td><%=item.cost_price%></td>
      <td><%=item.sell_price%></td>
      <td><%=item.markup%></td>
      <%if item.quantity <= item.crit_lvl%>
      <td class="crit_lvl"><%=item.quantity%></td>
      <%elsif item.quantity <= item.wrn_lvl%>
      <td class="wrn_lvl"><%=item.quantity%></td>
      <%else%>
      <td class="ok_lvl"><%=item.quantity%></td>
      <%end%>
      <td><a href="/inventory/<%=item.id%>">details</a></td>
    </tr>
    <% end %>
  </tbody>
</table>
