<h2>Inventory</h2>

<form class="index_form" action="/inventory" method="get">
  <label></label>
    <select id="filter_inventory" name="manufacturer_id">
      <option disabled selected> -- select an option -- </option>
      <%@manufacturers.each do |manufacturer|%>
        <%if manufacturer.id == @man_id%>
          <option value="<%=manufacturer.id%>" selected><%=manufacturer.name%></option>
        <%else%>
          <option value="<%=manufacturer.id%>"><%=manufacturer.name%></option>
        <%end%>
      <%end%>
    </select>
  <input class="btn" type="submit" value="Filter">
  <a href="/inventory"><button type="button">All</button></a>
  <a href="/inventory/new"><button type="button">Add Item</button></a>
</form>

<table class="blueTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Cost Price</th>
      <th>Sell Price</th>
      <th>Mark Up</th>
      <th>Quantity</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @inventory.each do |item| %>
      <%item_object = InventoryItem.new item%>
      <tr>
        <td><%=item_object.name%></td>
        <td><%=item['manufacturer_name']%></td>
        <td><%=item_object.cost_price%></td>
        <td><%=item_object.sell_price%></td>
        <td><%=item_object.markup%></td>
        <td class="<%=item_object.quantity_lvl%>"><%=item_object.quantity%></td>
        <td><a href="/inventory/<%=item_object.id%>">view</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
