<h2><%=@item.name%></h2>

<form action="/inventory/<%=@item.id%>/delete" method="post">
  <a href="/manufacturers/<%=@item.manufacturer_id%>"><button type="button">Manufacturer</button></a>
  <a href="/inventory/<%=@item.id%>/edit"><button type="button">Edit</button></a>
  <input class="btn delete-btn" type="submit" value="Delete">
</form>

<div class="card">
  <dl>
    <dt>Manufacturer</dt>
    <dd><%=@item.manufacturer.name%></dd>
    <dt>Cost price</dt>
    <dd><%=@item.cost_price%></dd>
    <dt>Sell price</dt>
    <dd><%=@item.sell_price%></dd>
    <dt>Markup</dt>
    <dd><%=@item.markup%></dd>
    <dt>Quantity</dt>
    <dd><span class="<%=@item.quantity_lvl%>"><%=@item.quantity%></span></dd>
    <dt>Warning level</dt>
    <dd><%=@item.wrn_lvl%></dd>
    <dt>Critical level</dt>
    <dd><%=@item.crit_lvl%></dd>
    <dt>Notes</dt>
    <dd><%=@item.notes%></dd>
  </dl>
</div>
