<h2>Item Details</h2>

<ul>
  <li>Name: <%=@item.name%></li>
  <li>Manufacturer: <%=@item.manufacturer.name%></li>
  <li>Cost price: <%=@item.cost_price%></li>
  <li>Sell price: <%=@item.sell_price%></li>
  <li>Markup: <%=@item.markup%></li>
  <li>Quantity: <span class="<%=@item.quantity_lvl%>"><%=@item.quantity%></span></li>
  <li>Warning level: <%=@item.wrn_lvl%></li>
  <li>Critical level: <%=@item.crit_lvl%></li>
  <li>Notes: <%=@item.notes%></li>
</ul>

<form action="/inventory/<%=@item.id%>/delete" method="post">
  <input class="btn delete-btn" type="submit" value="Delete item">
</form>

<a href="/inventory/<%=@item.id%>/edit">Edit Item</a>
