<h2><%=@item.name%></h2>

<ul>
  <li>Manufacturer: <%=@item.manufacturer.name%></li>
  <li>Cost price: <%=@item.cost_price%></li>
  <li>Sell price: <%=@item.sell_price%></li>
  <li>Markup: <%=@item.markup%></li>
  <li>Quantity: <span class="<%=@item.quantity_lvl%>"><%=@item.quantity%></span></li>
  <li>Warning level: <%=@item.wrn_lvl%></li>
  <li>Critical level: <%=@item.crit_lvl%></li>
  <li>Notes: <%=@item.notes%></li>
</ul>


<form action="/inventory/<%=@item.id%>/delete" method="post">
  <a href="/manufacturers/<%=@item.manufacturer_id%>"><button type="button">Manufacturer</button></a>
  <a href="/inventory/<%=@item.id%>/edit"><button type="button">Edit</button></a>
  <input class="btn delete-btn" type="submit" value="Delete">
</form>
