<h2>Manufacturers</h2>

<form class="index_form" action="/manufacturers" method="get">
  <Label></label>
    <select id="filter_manufacturers" name="city">
      <option disabled selected> -- select an option -- </option>
      <%@manufacturers.each do |manufacturer|%>
        <%if manufacturer.city == @man_city%>
          <option value="<%=manufacturer.city%>" selected><%=manufacturer.city%></option>
        <%else%>
          <option value="<%=manufacturer.city%>"><%=manufacturer.city%></option>
        <%end%>
      <%end%>
    </select>
  <input class="btn" type="submit" value="Filter">
  <a href="/manufacturers"><button type="button">All</button></a>
  <a href="/manufacturers/new"><button type="button">Add Manufacturer</button></a>
</form>

<table class="blueTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Post Code</th>
      <th>Phone Number</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @to_display.each do |manufacturer| %>
    <tr>
      <td><%=manufacturer.name%></td>
      <td><%=manufacturer.address%></td>
      <td><%=manufacturer.city%></td>
      <td><%=manufacturer.post_code%></td>
      <td><%=manufacturer.phone%></td>
      <td><a href="/manufacturers/<%=manufacturer.id%>">view</a></td>
    </tr>
    <% end %>
  </tbody>
</table>
