<h2><%=@manufacturer.name%></h2>

<form action="/manufacturers/<%=@manufacturer.id%>/delete" method="post">
<a href="/inventory/manufacturer/<%=@manufacturer.id%>"><button type="button">Items</button></a>
<a href="/manufacturers/<%=@manufacturer.id%>/edit"><button type="button">Edit</button></a>
  <%if @manufacturer.item_count > 0%>
  <input class="btn delete-btn" type="submit" value="Delete" disabled> 
  <span class="critical">Delete inventory items first</span>
  <%else%>
  <input class="btn delete-btn" type="submit" value="Delete">
  <%end%>
</form>

<address>
  <%=@manufacturer.address%></br>
  <%=@manufacturer.city%></br>
  <%=@manufacturer.post_code%></br>
  <%=@manufacturer.phone%></br>
</address>

<h3>Notes</h3>
<p><%=@manufacturer.notes%></p>
